<ion-header>

    <ion-navbar  #navbar>
        <ion-title>Blood Sugar </ion-title>
        <ion-buttons end>
            <button ion-button (click)="toggleEdit()">{{editButton}}</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <table border=1 frame=void rules=rows class="table table-striped table-bordered table-list" [mfData]="items" #mf="mfDataTable"
        [mfRowsOnPage]="5">
        <thead>
            <tr>
                <th style="width: 20%">
                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th style="width: 50%">
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                    <mfDefaultSorter by="age">Age</mfDefaultSorter>
                </th>
                <th style="width: 20%">
                    <mfDefaultSorter by="city">City</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody text-center>
            <tr *ngFor="let item of mf.data">
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td class="text-right">{{item.age}}</td>
                <td>{{item.city | uppercase}}</td>
                <td> <button ion-button icon-only (click)="deleteSugar(item)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button> </td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</ion-content>
<!-- <ion-content>

    <ion-list>

        <ion-item-sliding *ngFor="let item of items">

            <ion-item>
               <h2>{{ item.name }}</h2>
               <p>{{ item.city }} • {{ item.email}} • {{ item.age}}</p>
            </ion-item>

            <ion-item-options>
                <button ion-button icon-only (click)="editNote(note)" light>
                    <ion-icon name="repeat"></ion-icon>
                </button>
                <button ion-button icon-only (click)="deleteNote(note)" danger>
                    <ion-icon name="trash"></ion-icon>
                </button>
                <button ion-button icon-only (click)="listNote(note)" danger>
                    <ion-icon name="list"></ion-icon>
                </button>
            </ion-item-options>

        </ion-item-sliding>

    </ion-list>

</ion-content> -->